<section id="pinBoot">
  <article class="white-panel">
  <form action='/places/<%= "#{@place.id}" %>' method='post'>
    <h4><input class="col-lg-12" name="place[title]" value='<%= "#{@place.title}" %>'></h4>
    <hr>
    <input class="col-lg-12" name="place[photo_url]" value='<%= "#{@place.photo_url}" %>'>
    <input class="col-lg-12" name="place[location]" value='<%= "#{@place.location}" %>'>
    <hr>
    <textarea class="col-lg-12" rows="7" name="place[description]"><%= "#{@place.description}" %></textarea>
    <button type="submit" class="btn btn-sm btn-primary btn-secondary pull-right" style="float:right">Edit</button>
  </form>
  </article>
</section>
<div class="whitespace"></div>