<h2>Edit place</h2>

<form action='/places/<%= "#{@place.id}" %>' method="post">
  <label for="place[title]">Title:</label>
  <input name="place[title]" value='<%= "#{@place.title}" %>'>

  <label for="place[photo_url]">Photo URL:</label>
  <input name="place[photo_url]" value='<%= "#{@place.photo_url}" %>'>

  <label for="place[location]">Location:</label>
  <input name="place[location]" value='<%= "#{@place.location}" %>'>

  <label for="place[description]">Description:</label>
  <input name="place[description]" value='<%= "#{@place.description}" %>'>

  <input type="submit" value="Create">
</form>
