<p><a class="btn btn-primary btn-sm" href="/places/new" role="button">Add a new place &raquo;</a></p>

<section id="pinBoot">

<!-- <script type="text/javascript">
  var pointsArray = [];
</script> -->

<% @places.each do |place| %>
  <article class="white-panel">
    <h4><a href='/places/<%= place.id %>'><%= place.title %></a></h4>
    <img src="<%= place.photo_url %>" alt="<%= place.title %>">
    <h6><%= place.location %></h6>
    <p><%= place.description %></p>
<!--     <script type="text/javascript">
      var latTemp = '<%= place.latitude %>';
      var lonTemp = '<%= place.longitude %>';
      var title = '<%= place.title %>';
      pointsArray.push({longitude:lonTemp,latitude:latTemp,title:title});
  </script> -->
  </article>
<% end %>
</section>
<!-- <script type="text/javascript">

  var pointsArray = [];
  <% @places.each do |place| %>
      var latTemp = '<%= place.latitude %>';
      var lonTemp = '<%= place.longitude %>';
      var title = '<%= place.title %>';
      pointsArray.push({longitude:lonTemp,latitude:latTemp,title:title});
  <% end %>
  makePoints(pointsArray);
</script> -->