<section id="pinBoot">
  <article class="white-panel">
    <h4><%= @place.title %></h4>
    <img src="<%= @place.photo_url %>" alt="<%= @place.title %>">
    <h6><%= @place.location %></h6>
    <p><%= @place.description %></p>
    <div>
      <form action="/places/<%= @place.id %>/delete" method="post">
        <button type="submit" class="btn btn-sm btn-warning btn-secondary pull-right" style="float:right">Delete</button>
      </form>
      <form action="/places/<%= @place.id %>/edit" method="GET">
        <button type="submit" class="btn btn-sm btn-primary btn-secondary pull-right">Edit</button>
      </form>
    </div>
  </article>
</section>