<section id="pinBoot">
  <article class="white-panel">
    <h4><a href="#"><%= @place.title %></a></h4>
    <img src="<%= @place.photo_url %>" alt="<%= @place.title %>">
    <h6><%= @place.location %></h6>
    <p><%= @place.description %></p>
  </article>
</section>